@import url("https://fonts.googleapis.com/css?family=Lora:400,700|Montserrat:300");

*{
    margin: 0;
    padding: 0;
}
body {
    font-family: monospace, sans-serif;
    margin-left: 20%;
    margin-right: 20%;
  }
html {
    scroll-behavior:smooth;
}
.shuffle-text, .name{
    margin-top: 1%;
    margin-bottom: 3%;
    text-align: center;
    
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.shuffle-text:hover, .name:hover{
    color:slategray;
    
}
.content{
    display: flex;
    margin: 0 auto; 
}
.container {
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
}
.quote{
    font-family: 'Montserrat', monospace, sans-serif;
}


a {
    color: tomato;
    background-color: transparent;
    text-decoration: none;
    transition: color 0.2s ease;
}
  
a:hover {
    color: rgb(251, 181, 193);
    background-color: transparent;
    text-decoration: underline;
}

  /* mediaquery css */
  @media screen and (max-width: 1200px){ 

}

@media screen and (max-width: 700px){
    body {
        margin-left: 10%;
        margin-right: 10%;
    }
    .content{
        padding-top: 5%;
    }
    .container {
        padding-top: 20%;
        padding-bottom: 20%;
    }
}
@media screen and (max-width: 400px){
    body {
        margin-left: 5%;
        margin-right: 5%;
      }
    .content{
        padding-top: 5%;
    }
    .container {
        padding-top: 20%;
        padding-bottom: 20%;
    }
}
@media screen and (max-width: 315px){
    .shuffle-text{
        font-size: 160%;
    }
}
