@import url("https://fonts.googleapis.com/css?family=Lora:400,700|Montserrat:300");

*{
    margin: 0;
    padding: 0;
}
body {
    font-family: monospace, sans-serif;
    margin-left: 20%;
    margin-right: 20%;
  }
html {
    scroll-behavior:smooth;
}
.name{
    margin-top: 1%;
    margin-bottom: 3%;
    text-align: center;
}
.name:hover{
    color:slategray;
}
.content{
    display: flex;
    margin: 0 auto; 
}
.container {
    text-align: center;
    font-family: 'Montserrat', monospace, sans-serif;
    padding: 5%;
}



a:link {
    color: tomato;
    background-color: transparent;
    text-decoration: none;
}
  
a:visited {
    color: tomato;
    background-color: transparent;
    text-decoration: none;
}
  
a:hover {
    color: rgb(251, 181, 193);
    background-color: transparent;
    text-decoration: underline;
}
  
a:active {
    color: red;
    background-color: transparent;
    text-decoration: underline;
}


  /* mediaquery css */
  @media screen and (max-width: 1200px){ 

}

@media screen and (max-width: 700px){
    body {
        margin-left: 10%;
        margin-right: 10%;
      }
}
@media screen and (max-width: 400px){
    body {
        margin-left: 5%;
        margin-right: 5%;
      }
}